pkgbase = beets-beetfs
	pkgdesc = A beets plugin for mounting a FUSE filesystem of audio items
	pkgver = 0.9.2
	pkgrel = 1
	url = https://github.com/abbotta4/beetfs
	arch = any
	license = MIT
	depends = beets
	depends = python-pyfuse3
	source = https://github.com/Abbotta4/beetfs/archive/refs/tags/v0.9.2.tar.gz
	sha256sums = 3dd284002b2590e78072b96ce5f3fb7754e3f995f1efa44a0a8010f5c0a62210

pkgname = beets-beetfs
