pkgbase = beets-beetfs
	pkgdesc = A beets plugin for mounting a FUSE filesystem of audio items
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/abbotta4/beetfs
	arch = any
	license = MIT
	depends = beets
	depends = python-pyfuse3
	source = https://github.com/Abbotta4/beetfs/archive/refs/tags/v0.8.0.tar.gz
	sha256sums = 43d033d91e6b4901f553cff472fb01de355e6bbdac14d27a2b1a7a3ff703e83f

pkgname = beets-beetfs
